@import "~bootstrap";
@import "variables";
@import "index";
.App {
    text-align: center;
}

.App-logo {
    height: 30vmin;
    pointer-events: none;
    margin-bottom: 2.5rem;
}
.small {
    font-size: .5em
}
.App-header {
    background-color: $primary-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    &.secondary-background {
        background-color: $secondary-color;
    }
}
.sample-box {
    background-color: $primary-color;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.secondary-background {
        background-color: $secondary-color;
    }
}
.App-link {
    color: $white;
    transition: $transition-base;

    &:hover {
        color: #61DAFB;
    }
}
pre {
    font-size: 12px;
    overflow: hidden;
    text-align: left;
    padding: .75rem;
    margin-bottom: 0;
}
